@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* General Style */
header {
  margin-bottom: 100px;
}

body {
  font-family: 'Cantarell', sans-serif;
}

.font-noto {
  font-family: "Noto Sans Display", sans-serif;
  font-style: normal;
}

h1 {
  color: #009900;
  text-align: center;
}

hr {
  border: 1px solid #009900;
}

#p1 {
  text-align: center;
}

/* Navbar Style with Flex */
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  align-items:center;
  gap: 5px;
  width: 100%;
  height: 3rem;
  background: linear-gradient(to right, #99ff66 0%, #009900 100%);
  z-index: 98;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  border-radius: 2px;
  transition: all 0.3s ease;
  margin-right: 20px;
}

.menu {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.menu a {
  flex-shrink: 5;
  padding: 15px 0;
  margin: 5px 20px 0 0;
  color: #ffffff;
  font-size: 1rem;
  text-decoration: none;
  transition: all 0.2s ease;
  margin-top: 0px;
}

.menu a:hover {
  color: #ff8c1a;
  font-weight: bold;
  transform: scale(1.2);
}

.nav-corner {
  color: #ff9900;
  font-size: 2rem;
  flex-grow: 10;
  flex-shrink: 10;
  z-index: 99;
  position: fixed;
  top: 0;
  margin: 0px 10px;
}

/* Animated Text Shadow */
#textshadow {
  animation: animated 4s infinite;
  text-shadow: 0 0 4px #ffff00, 0 0 8px #009900;
}

@keyframes animated {
  50% {text-shadow: 10px 20px 30px #009900;}
}

/* Parallax */
.parallax {
  background-image: url('images/parallax.webp');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-color: #e0e0e0;
  margin: 0 -10px;
  height: 70vh;
}

.parallax p{
  font-size: 4em;
}

/* Asymmetrical Grid */
.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 150px);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin: 20px 0; 
  }
  
  .children {
    border: 1px solid #000000;
    overflow: hidden;
  }

.children img {
  object-fit: cover;
  height: 300px;
}

  .div1 { 
    grid-area: 1 / 1 / 3 / 3;
   }
  .div2 { 
    grid-area: 1 / 3 / 3 / 4;
   }
  .div3 { 
    grid-area: 1 / 4 / 6 / 6;
   }
  .div4 { 
    grid-area: 3 / 1 / 6 / 2; 
  }
  .div5 { 
    grid-area: 3 / 2 / 6 / 4;
  }



/* Grid Style Gallery*/
.grid-container {
  display: grid;
  gap: 10px;
  padding: 10px;
  margin-bottom: 50px;
}

.grid-item {
  color: #1a1a1a;
  border: 1px solid #e6e6e6;
  text-align: center;
  padding: 20px;
}

.grid-container {
  grid-template-columns: 1fr;
}

.aspect-ratio {
  object-fit: cover;
  width: 100%;
  transition: transform .3s;
}

.aspect-ratio:hover {
  transform: scale(1.07);
}

/* Style for the checkbox groups */
.checkbox-group {
  margin-bottom: 10px; /* Add space between each checkbox group */
}

/* Style for the checkboxes */
.checkbox-group input[type="checkbox"] {
  margin-right: 5px; /* Add space between the checkbox and the label */
}

/* Textarea Style */
textarea {
  width: 100%;
  max-width: 500px;
}

/* Footer Style */
.footer {
  background: linear-gradient(to left, #99ff66 0%, #009900 100%);
  width: 100%;
  height: 100px;
  color: #ffffff;
  padding: 5px 10px;
  margin: 100px -10px -10px -10px;
}

.footer-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-container img {
  width: 30px;
  height: 30px;
  margin-top: 20px;
}

/* Media Query */

/* Media Query for Navbar */

@media (max-width: 768px) {
  .hamburger {
    display: flex;
    text-align: center;
  }

  .menu {
    display: none;
    flex-direction: column;
    width: 200px;
    position: absolute;
    top: 100%;
    background: linear-gradient(to right, #99ff66 0%, #009900 100%);
    opacity: 0.9;
  }

  .menu.open {
    display: flex;
  }

  .hamburger.open .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.open .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .menu a {
    text-align: right;
    padding: 10px 30px 10px 0;
  }
}

/* Media query for Asymmetical Grid */
@media (max-width: 800px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 100px);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
    
  .div1 { grid-area: 1 / 1 / 3 / 3; }
  .div2 { grid-area: 1 / 3 / 3 / 4; }
  .div3 { grid-area: 3 / 1 / 7 / 4; }
  .div4 { grid-area: 7 / 1 / 9 / 2; }
  .div5 { grid-area: 7 / 2 / 9 / 4; }
}

/* Media Query for Gallery */
@media (min-width: 700px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1025px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

