@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* General Style */
header {
  margin-bottom: 100px;
}

body {
  font-family: 'Cantarell', sans-serif;
}

.font-noto {
  font-family: "Noto Sans Display", sans-serif;
  font-style: normal;
}

h1 {
  color: #009900;
  text-align: center;
}

hr {
  border: 1px solid #009900;
}

.p1 {
  text-align: center;
}

/* Navbar Style with Flex */
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  align-items:center;
  gap: 5px;
  width: 100%;
  height: 5rem;
  background: linear-gradient(to right, #99ff66 0%, #009900 100%);
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  border-radius: 2px;
  transition: all 0.3s ease;
  margin-right: 20px;
}

.menu {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.menu a {
  flex-shrink: 5;
  padding: 10px 0;
  margin-right: 20px;
  color: #ffffff;
  font-size: 1rem;
  text-decoration: none;
  transition: all 0.2s ease;
}

.menu a:hover {
  color: #000000;
}

.nav-corner {
  color: #ff9900 !important;
  font-size: 2rem !important;
  flex-grow: 10;
  flex-shrink: 10;
}

/* Parallax */
.parallax {
  background-image: url('images/parallax.jpeg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-color: #e0e0e0;
  margin: 0 -10px;
  height: 70vh;
}

.parallax p{
  font-size: 4em;
}

/* Grid Style */
.grid-container {
  display: grid;
  gap: 10px;
  padding: 10px;
  margin-bottom: 50px;
}

.grid-item {
  color: #1a1a1a;
  border: 1px solid #e6e6e6;
  text-align: center;
  padding: 20px;
}

.grid-container {
  grid-template-columns: 1fr;
}

.aspect-ratio {
  object-fit: cover;
  width: 100%;
}

/* Textarea Style */
textarea {
  width: 100%;
  max-width: 500px;
}

/* Footer Style */
.footer {
  background: linear-gradient(to left, #99ff66 0%, #009900 100%);
  width: 100%;
  height: 100px;
  color: #ffffff;
  padding: 5px 10px;
  margin: 100px -10px -10px -10px;
}

.footer-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-container img {
  width: 30px;
  height: 30px;
}

/* Media Query */

/* Media Query for Navbar */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background: linear-gradient(to right, #99ff66 0%, #009900 100%);
    opacity: 0.95;
  }

  .menu.open {
    display: flex;
  }

  .hamburger.open .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.open .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .menu a {
    border-radius: 0;
    text-align: right;
    padding: 10px 10px;
  }
}

/* Media Query for Gallery */
@media (min-width: 700px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1025px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

